* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #111;
}

h1 {
  font-size: 3rem;
  font-weight: 50;
  margin: 1rem 0 3rem;
  text-align: center;
  color: #ffffff;
  font-family: "Hind", sans-serif;
}

.styling {
  font-weight: 800;
  color: rgb(1, 131, 253);
}

.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input_div .input {
  padding: 0.5rem 1rem;
  height: 50px;
  outline: none;
  background-color: #ffffff;
  width: 450px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
}

.addButton {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: #fff;
  margin: 0.25px;
  background-color: rgb(1, 131, 253);
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.item {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #fff;
}

.item_input {
  background: none;
  outline: none;
  color: #fff;
  border: none;
  width: 350px;
  font-size: 1.4rem;
}

.editButton {
  border: none;
  background: transparent;
  color: rgb(30, 255, 30);
  text-transform: uppercase;
  margin: 5px;
  font-weight: 600;
  font-size: 16px;
}

.editButton:hover {
  cursor: pointer;
  color: rgb(1, 77, 1);
}

.removeButton {
  border: none;
  background: transparent;
  color: red;
  text-transform: uppercase;
  margin: 5px;
  font-weight: 600;
  font-size: 16px;
}
.removeButton:hover {
  cursor: pointer;
  color: rgb(122, 0, 0);
}
